* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    /* border: solid 1px black; */
}

html, body {
    max-width: 100% !important;
    overflow-x: hidden !important;
}

header {
    width: 100%;
    text-align: center;
}

nav {
    display: flex;
    flex-direction: column;
}

.menu_open, .menu_close, li {
width: 100%;
text-align: center;
border: 1px solid black;
font-weight: bold;
font-size: 2rem;
}

.menu_close , ul{
    display: none;
}

input:checked  ~ ul{
    display: inline;
}

input:checked  ~ .menu_close{
    display: inline;
}

input:checked  ~ .menu_open{
    display: none;
}

input {
    display: none;
}

.about {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.foto {
    width: 150px;
    border-radius: 100px;
}