* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    /* border: solid 1px black; */
}


html, body {
    max-width: 100% !important;
    overflow-x: hidden !important;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

li {
    list-style: none;
}

/* ----------------------------------------HEADER---------------------------------------- */

header {
    width: 100%;
    text-align: center;
}

nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

a {
    text-decoration: none;
}

.menu > li > a:visited {
    color: white;
}

.menu_open, .menu_close, .menu > li {
width: 100%;
height: 40px;
text-align: center;
border: 1px solid white;
font-weight: bold;
font-size: 2rem;
}

.menu_open {
    background-color: rgb(134, 134, 134);

}

.menu > li:hover {
    background-color: brown;
}

.menu_close{
    display: none;
}

input:checked  ~ .menu{
    opacity: 1;
}

input:checked  ~ .menu_close{
    display: inline;
    background-color: black;
    color: white;
}

input:checked  ~ .menu_open{
    display: none;
}

input {
    display: none;
}



.menu {
    width: 100%;
    position: absolute;
    top: 80px;
    opacity: 0;
    transition: opacity 0.5s;
    background-color: black;
    color: white;
}

/* ----------------------------------------SECCIONES-GRAL---------------------------------------- */
main {
    width: 90%;
}

section {
    width: 90%;
    border: 1px solid grey;
    border-radius: 5px ;
    padding: 5px;
}

footer {
    width: 100%;
    background-color: black; 
    color: white;   
}


/* ----------------------------------------INICIO---------------------------------------- */

.inicio > h2 {
    font-size: 2rem;
}

.img {
    display: flex;
    justify-content: center;
}

.foto {
    width: 150px;
    border-radius: 100px;
}