* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    font-size: 1.2rem;
}

body {
    width: 100% !important;
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    font-size: 1.8rem;
    text-align: center;
    margin: 20px 0;
}

label {
    margin: 5px 0;
}

input {
    height: 40px;
    text-transform: capitalize;
}

.autocompletar {
    position: relative;
    display: inline-block;
  }
  .autocompletar-items {
    position: absolute;
    border: 1px solid #d4d4d4;
    border-bottom: none;
    border-top: none;
    z-index: 99;
    /*position the autocomplete items to be the same width as the container:*/
    top: 100%;
    left: 0;
    right: 0;
  }
  .autocompletar-items div {
    padding: 10px;
    cursor: pointer;
    background-color: #fff;
    border-bottom: 1px solid #d4d4d4;
  }
  .autocompletar-items div:hover {
    /*when hovering an item:*/
    background-color: #e9e9e9;
  }
  .autocompletar-active {
    /*when navigating through the items using the arrow keys:*/
    background-color: DodgerBlue !important;
    color: #ffffff;
  }

.fecha {
    font-size: small;
    font-style: italic;

}

.contenedor {
    max-width: 800px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    border-radius: 5px;
    box-shadow: 1px 1px 1px;
}

.respuesta {
    font-weight: bold;
    margin-left: 20px;
}