* {
    margin: 0;
    padding: 0;
    /* border: 1px solid red; */
    font-family: sans-serif;
}

body {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}

header {
    width: 100%;
    margin-bottom: -20px;
}

section {
    background-image: url(./Img/fondo.jpg);
    background-size: cover;
    background-size: 110%;
    background-position: -30px 0px;
    background-repeat: no-repeat;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    width: 90%;
    height: 75%;
    display: flex;
    flex-direction: row;
}

footer {
    width: 90%;
    height: 6%;
    background-color: #279d2e;
    color: white;
    text-align: center;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

img {
    margin-left: 40px;
}

input {
    width: 279px;
    padding: 6px;
    border: 0;
    border-bottom: 1px solid #279d2e;
    margin: 20px 0;
}

button {
    width: 15px;
    height: 15px;
    background-color: #279d2e;
    border: 1px solid #279d2e;
    border-radius: 15px;
    color: white;
    font-weight: bold;
}

a {
    color: #279d2e;
    font-size: 0.8rem;
    font-weight: lighter;
    text-align: center;
    margin: 10px 0;
}

span {
    font-weight: bold;
}

h1 {
    font-size: 0.8rem;
    text-align: center;

}

h4 {
    font-size: 0.6rem;
    font-weight: lighter;
    margin: 2px 0;
}

hr {
    border: 1px solid white;
    box-shadow: 0px 2px 3px #d4d4d4;
    margin: 10px 0;
}

.espacio {
    width: 70%;
}

.login {
    background-color: white;
    border-radius: 10px;
    height: 50%;
    padding: 15px 30px;
    margin-top: 40px;
    filter: drop-shadow(0 0 2px );
    display: flex;
    flex-direction: column;
}

.usuario {
    display: flex;

}

.h4inf {
    text-align: center;
}