*{
    margin: 0;
    padding: 0;
    border: 1px solid black;
    box-sizing: border-box;
}

html {
    width: 100% !important; 
}

body {
    height: 100vh;
    width: 100%;
}

.contenedor {
    width: 802px;
    display: flex;
    flex-wrap:wrap;
}

.celda {
    width: 100px;
    height: 100px;
}