* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(209, 168, 247);
}

.container {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.imgen{
    width: 200px;
}

h1 {
    font-weight: bold;
}