* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    /* border: 1px solid red; */

}

body {
    height: 100vh;
}

h1 {
    text-align: center;
}

input {
    text-align: center;
}

label {
    font-size: 1.2rem;
}

.contenedor {
    width: 90%;
    max-width: 400px;
    padding: 10px;
    border: 1px solid black;
    border-radius: 5px;
    box-shadow: 1px 1px 1px;
    margin: auto auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.seleccion {
    font-size: 2rem;
    font-weight: bold;
    text-align: left;
}

.contBaxter {
    width: 80%;
    display: flex;
    justify-content: space-around;
}

.cAmp {
    width: 20%;
    font-size: 1.2rem;
    font-weight: bold;
}

.baxter {
    font-size: 1.2rem;
    font-weight: bold;
}

.calculo {
    width: 80%;
    display: flex;
    justify-content: space-around;
}   

.botonCAmp {
    width: 10%;
}

.goteo {
    font-size: 1.2rem;
    font-weight: bold;
}

.goteo::placeholder {
    font-weight: lighter;
}

.resultado {
    text-align: left;
}